table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-color: #090b0a;
  }
  thead{
    color: rgb(13, 15, 13);
}
.btn-primary{
    background-color: rgb(33, 33, 49);
}
.card-header{
    background-color: #FFE4C4;
    color: black;
}